<!DOCTYPE html>
{% extends 'bloki_resztkowe/base.html' %}

{% block body %}
    <div class="row">
        <div class="col-md-12" style="background-color:#70ad47;">
            <h2 class="text-center">{{ typ_zadania|title }} blok resztkowy</h2>
        </div>
    </div>
    <div class="row" style="padding:10px;"></div>
    <div class="row">
        <div class="col-md-12" style="background-color:#70ad47;">
            <h3 class="text-center">Podaj wymiar bloku:</h3>
        </div>
    </div>
    <div class="row" style="padding:10px;"></div>  
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4" style="background-color:#{{ wybrany_wymiar.kolor }};margin-bottom:5px;">
                <h3 class="text-center">{{ wybrany_wymiar.typ }}</h3>
            </div>
        </div>
        <div class="row" style="margin:20px;"></div>

        <form action="{% url 'bloki_resztkowe:wybor' typ_zadania wybrany_wymiar.typ %}" method="POST" id="wymiary">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1" style="margin-bottom:5px;">
                <div class="row pagination-centered">
                    <div class="col-xs-2">
                        <h1>X=</h1>
                    </div>
                    <div class="col-xs-10" style="background-color:#ffff00;"><input type="number" name="x_value" placeholder="........................." class="text-center" style="width:100%;height:50px;margin-top:10px;margin-bottom:10px;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1" style="margin-bottom:5px;">
                <div class="row pagination-centered">
                    <div class="col-xs-2">
                        <h1>Y=</h1>
                    </div>
                    <div class="col-xs-10" style="background-color:#ffff00;"><input type="number" name="y_value" placeholder="........................." class="text-center" style="width:100%;height:50px;margin-top:10px;margin-bottom:10px;"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1" style="margin-bottom:5px;">
                <div class="row pagination-centered">
                    <div class="col-xs-2">
                        <h1>Z=</h1>
                    </div>
                    <div class="col-xs-10" style="background-color:#ffff00;"><input type="number" name="z_value" placeholder="........................." class="text-center" style="width:100%;height:50px;margin-top:10px;margin-bottom:10px;"></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin:20px;"></div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 text-center" id="btn-save">
                <button class="btn btn-success btn-primary btn-block" type="submit" value="submit" form="wymiary">ZATWIERDŹ</button>                                
            </div>
        </div>
    </form>
    <div class="row" style="margin:20px;"></div>
    <div class="row">
        <a href="/{{ typ_zadania }}">
            <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1" style="background-color:#ffffff;">
                <button type="button" class="btn btn-danger btn-block">Cofnij</button>
            </div>
        </a>
    </div>
    <div class="row text-center">
            <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1" style="background-color:#ffffff;">
                <p style="color: {{ error.color }};">{{ error.message }}</p>
            </div>
        </div>
{% endblock body %}